APP_DB_URL=jdbc:postgresql://localhost:5432/postgres
APP_DB_USERNAME=postgres
APP_DB_PASSWORD=change-me

APP_MAIL_HOST=smtp.gmail.com
APP_MAIL_PORT=465
APP_MAIL_USERNAME=change-me@example.com
APP_MAIL_PASSWORD=change-me
APP_MAIL_SENDER=Test Application
APP_BASE_URL=http://localhost:8080
MAIL_VERIFICATION_ENABLED=false

LIQUIBASE_URL=jdbc:postgresql://localhost:5432/postgres
LIQUIBASE_USERNAME=postgres
LIQUIBASE_PASSWORD=postgres
LIQUIBASE_SCHEMA=public
